<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weixin.common.mapper.MessageLogMapper" >

	<!-- 名字与MessageLogMapper.java中方法名对应 -->
	<select id="getMessageLogId"  resultType="java.lang.String">
		<![CDATA[
		select To_Char(Sysdate, 'yyyymmdd')||Lpad(SEQ_MESSAGE_LOG.Nextval, 12, 0) from dual
		]]>
	</select>
	
	
	<insert id="insertMessageLog" parameterType="com.weixin.common.model.log.MessageLog">
		Insert Into Message_Log
		   (Log_Id
		   ,Object_Id
		   ,Object_Type
		   ,Req_Content
		   ,Result_Code
		   ,Result_Desc
		   ,Log_Type
		   ,Create_Date)
		Values
	 		(#{logId,jdbcType=VARCHAR},
	 		#{objectId,jdbcType=VARCHAR},
	 		#{objectType,jdbcType=INTEGER},
	 		#{reqContent,jdbcType=VARCHAR},
	 		#{resultCode,jdbcType=VARCHAR},
	 		#{resultDesc,jdbcType=VARCHAR},
	 		#{logType,jdbcType=INTEGER},
	 		sysdate)
	 </insert>
	 
</mapper>