<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weixin.common.mapper.UserBoundMapper" >

	<!-- 名字与UserBoundMapper.java中方法名对应 -->
	<select id="queryBoundAccNbr"  resultType="java.lang.String" parameterType="java.lang.String">
		Select Bo.Acc_Nbr From Bound_Acc_Nbr Bo Where Bo.Open_Id=#{openId,jdbcType=VARCHAR}
	</select>
	
	<select id="queryOpenid"  resultType="java.lang.String" parameterType="java.lang.String">
		Select Bo.Open_Id From Bound_Acc_Nbr Bo Where Bo.Acc_Nbr=#{accNbr,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertBoundAccNbr" parameterType="com.weixin.common.model.user.UserBound">
	  <selectKey resultType="int" keyProperty="boundId" order="BEFORE">
	  	 Select Seq_Bound_Acc_Nbr.Nextval From Dual
	  </selectKey>
		Insert Into Bound_Acc_Nbr
   			(Bound_Id, Open_Id, Acc_Nbr, Eff_Date, Exp_Date)
		Values
	 		(#{boundId},#{openId,jdbcType=VARCHAR},#{accNbr,jdbcType=VARCHAR},#{effDate,jdbcType=DATE},#{expDate,jdbcType=DATE})
	 </insert>
	
	<update id="updateBoundAccNbr" parameterType="com.weixin.common.model.user.UserBound">
	    Update Bound_Acc_Nbr Bo
		Set    Bo.Acc_Nbr     = #{accNbr,jdbcType=VARCHAR},
		       Bo.Eff_Date    = #{effDate,jdbcType=DATE},
		       Bo.Create_Date = Sysdate
		Where  Bo.Open_Id = #{openId,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteBoundAccNbr" parameterType="java.lang.String" >
    	Delete From Bound_Acc_Nbr Bo Where Bo.Open_Id = #{openId,jdbcType=VARCHAR}
  	</delete>
  	
  	<delete id="deleteBoundRelation" parameterType="java.lang.String" >
  		Delete From Bound_Acc_Nbr Bo Where Bo.Acc_Nbr = #{accNbr,jdbcType=VARCHAR}
  	</delete>
  	
  	<select id="queryWechatUserByOpenId"  resultType="java.lang.String" parameterType="java.lang.String">
		Select Weu.Open_Id From Wechat_User Weu Where Weu.Open_Id = #{openId,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertWechatUser" parameterType="com.weixin.common.model.user.WechatUser">
	 	Insert Into Wechat_User
		   (User_Id
		   ,Open_Id
		   ,Status_Cd
		   ,Status_Date
		   ,Subscribe_Time)
		Values
		   (Seq_Wechat_User.Nextval
		   ,#{openId}
		   ,#{statusCd}
		   ,Sysdate
		   ,Sysdate)
	 </insert>
	 
	 <update id="updateWechatUser" parameterType="com.weixin.common.model.user.WechatUser">
	    Update Wechat_User Weu
		Set    Weu.Status_Cd   = #{statusCd},
			   <if test="statusCd == 1">   
		           Weu.Subscribe_Time = Sysdate,   
		       </if>
		       Weu.Status_Date = Sysdate
		Where  Weu.Open_Id = #{openId}
	</update>
</mapper>