<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="”X-UA-Compatible”" content="IE=edge,chrome=1">
    <title>鲜果客栈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="../../lib/swiper/css/swiper.min.css" rel="stylesheet">

    <link href="../../lib/layer_mobile/need/layer.css" type="text/css" rel="styleSheet" id="layermcss">

    <link href="./resources/css/m-dsmall.css" rel="stylesheet">

    <link href="./resources/css/font.css" rel="stylesheet">

    <link href="./resources/css/bottom_style.css" rel="stylesheet">

    <link href="./resources/css/Default.css" rel="stylesheet">
    <style type="text/css">
        *[data-targeturl]:active {
            transform: scale3d(1.2, 1.2, .5);
            transition: all .2s ease-out;
        }
    </style>
</head>
<body>
<header class="mall-header" data-role="header" style="background-color: rgb(55, 222, 13);">
    <h1 style="color: rgb(28, 3, 28);">全场满30包邮</h1>
</header>
<div class="web-view" style="padding-top: 0; padding-bottom: 0; margin-top: 44px; margin-bottom: 51px;">
    <div class="mall-row row-remove-padding" style="position: relative;">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-targeturl><img src="./resources/images/zp20161122105018720807644.jpg"/>
                </div>
                <div class="swiper-slide" data-targeturl><img src="./resources/images/zp20161122181737700355495.jpg"/>
                </div>
                <div class="swiper-slide" data-targeturl><img src="./resources/images/zp20161023134012956077242.jpg"/>
                </div>
                <div class="swiper-slide" data-targeturl><img src="./resources/images/zp20161122104818312392469.jpg"/>
                </div>
                <div class="swiper-slide" data-targeturl><img src="./resources/images/zp20161023134046589365179.jpg"/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="mall-row" style="position: relative;">
        <div class="mall-group">
            <div class="mall-group-line" data-targeturl>
                <div class="mall-icon-btn"><p><img src="./resources/images/load.png"
                                                   data-echo="./resources/images/1.png"></p><span>水果区</span></div>
            </div>
            <div class="mall-group-line" data-targeturl>
                <div class="mall-icon-btn"><p><img src="./resources/images/load.png"
                                                   data-echo="./resources/images/2.png"></p><span>干果区</span></div>
            </div>
            <div class="mall-group-line" data-targeturl>
                <div class="mall-icon-btn"><p><img src="./resources/images/load.png"
                                                   data-echo="./resources/images/3.png"></p><span>调味品区</span></div>
            </div>
            <div class="mall-group-line" data-targeturl>
                <div class="mall-icon-btn"><p><img src="./resources/images/load.png"
                                                   data-echo="./resources/images/4.png"></p><span>搜索</span></div>
            </div>
        </div>
    </div>
    <div class="mall-row padding-0" style="position: relative;">
        <div class="mall-hr">
            <div class="hr-icon-main">
                <div class="hr-icon-left" style="background-color: #FF4A19;"></div>
                <div class="hr-icon-centre">
                    <div class="hr-icon-centre-main">
                        <div class="hr-icon-centre-icon"
                             style="background-image: url(./resources/images/ic1.png);background-repeat:no-repeat;background-size:100% 100%"></div>
                        <div class="hr-icon-centre-icon-text" style="color:#FF4A19">特价区</div>
                    </div>
                </div>
                <div class="hr-icon-rigt" style="background-color: #FF4A19;"></div>
            </div>
        </div>
    </div>
    <div class="mall-row" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981394">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161214175856031256461.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981395">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161214182541105245209.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912154">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161130160038127872203.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912163">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161130153401243153397.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981306">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161130152104511009727.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912158">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161215115042431971639.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row padding-0 ui-sortable-handle" style="position: relative;">
        <div class="mall-hr" data-role="icontitle">
            <div class="hr-icon-main">
                <div class="hr-icon-left" style="background-color: #FF4A19;"></div>
                <div class="hr-icon-centre">
                    <div class="hr-icon-centre-main">
                        <div class="hr-icon-centre-icon"
                             style="background-image: url(./resources/images/ic1.png);background-repeat:no-repeat;background-size:100% 100%"></div>
                        <div class="hr-icon-centre-icon-text" style="color:#FF4A19">精品区</div>
                    </div>
                </div>
                <div class="hr-icon-rigt" style="background-color: #FF4A19;"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981415">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161217085608927465125.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981414">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161217083936744355875.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912153">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161119133841218774033.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912152">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161022005715889171490.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative; top: 0px; left: 0px;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981232">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122095751203290000.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981233">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122162051771417736.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945341">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161125222304088458729.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912156">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210081341963057139.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981346">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161213103030693293067.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981347">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210124133936385585.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981417">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161217092726830386466.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981443">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161218134545944635109.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912161">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161119133702236561305.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945362">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161119133733097558290.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912155">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161203172900389306025.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912148">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161102033603295584556.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=935725">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161125215940678725246.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=946137">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122162958130201165.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative; top: 0px; left: 0px;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912157">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122162647567865068.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981236">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122162154062025558.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945336">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122162712342081389.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945334">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122162700953150003.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981348">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210000212818625983.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981416">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161217091545792377191.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981294">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161124194506685257560.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981283">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161202103643458320660.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981240">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161125220445349321177.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981292">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161128084054431661371.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945339">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161022102528298789532.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945335">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161209142113320497077.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981285">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161126225829111531962.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981286">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161126225844023164965.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981289">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161126230103095601714.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981290">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161126230216104034480.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981309">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161203163546329211268.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981310">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161203163606947926120.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=948630">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210184229618729299.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912160">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210184238324492824.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981350">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210143530267177446.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981349">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161213175243813427099.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row padding-0 ui-sortable-handle" style="position: relative;">
        <div class="mall-hr" data-role="icontitle">
            <div class="hr-icon-main">
                <div class="hr-icon-left" style="background-color: #FF4A19;"></div>
                <div class="hr-icon-centre">
                    <div class="hr-icon-centre-main">
                        <div class="hr-icon-centre-icon"
                             style="background-image: url(./resources/images/ic1.png);background-repeat:no-repeat;background-size:100% 100%"></div>
                        <div class="hr-icon-centre-icon-text" style="color:#FF4A19">普通区</div>
                    </div>
                </div>
                <div class="hr-icon-rigt" style="background-color: #FF4A19;"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912163">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161125154952771685102.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=946106">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161125154906982646382.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=947960">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161122162827275237900.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=965728">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210185748575020219.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=946108">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161125221952443887452.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945358">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161022120239199959213.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=946107">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161128085920132480476.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981305">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161202102502464274116.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945338">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161126090222336384734.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=912162">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161126090352488861525.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981270">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210201211949310954.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981284">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210201718167789486.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981287">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210200443539646864.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981288">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210191948094206250.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=945340">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210200729066238255.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981291">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161210200926195398778.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row padding-0 ui-sortable-handle" style="position: relative;">
        <div class="mall-hr" data-role="icontitle">
            <div class="hr-icon-main">
                <div class="hr-icon-left" style="background-color: #FF4A19;"></div>
                <div class="hr-icon-centre">
                    <div class="hr-icon-centre-main">
                        <div class="hr-icon-centre-icon"
                             style="background-image: url(./resources/images/ic1.png);background-repeat:no-repeat;background-size:100% 100%"></div>
                        <div class="hr-icon-centre-icon-text" style="color:#FF4A19">干果区</div>
                    </div>
                </div>
                <div class="hr-icon-rigt" style="background-color: #FF4A19;"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981311">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161211011002395437862.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981312">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161211011010523130006.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981314">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161211011258098180407.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981313">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161211011305015012408.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row padding-0 ui-sortable-handle" style="position: relative;">
        <div class="mall-hr" data-role="icontitle">
            <div class="hr-icon-main">
                <div class="hr-icon-left" style="background-color: #FF4A19;"></div>
                <div class="hr-icon-centre">
                    <div class="hr-icon-centre-main">
                        <div class="hr-icon-centre-icon"
                             style="background-image: url(./resources/images/ic1.png);background-repeat:no-repeat;background-size:100% 100%"></div>
                        <div class="hr-icon-centre-icon-text" style="color:#FF4A19">调味品区</div>
                    </div>
                </div>
                <div class="hr-icon-rigt" style="background-color: #FF4A19;"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981385">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161213212446995017868.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981382">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161214092537484232968.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981370">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161211133009880396128.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981405">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161215164852812430935.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981396">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161215145822218244980.jpg"></div>
            </div>
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981418">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161217120814936110304.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="position: relative;">
        <div class="control-much-group" data-role="muchgood">
            <div class="control-much-line"
                 data-targeturl="http://xianguo.guoyuankezhan.com/mall/shop/ProductInfo.aspx?custID=101175&amp;ID=981438">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161217153824780415324.jpg"></div>
            </div>
            <div class="control-much-line" data-targeturl="">
                <div class="control-img"><img src="./resources/images/load.png"
                                              data-echo="./resources/images/zp20161217153832594773686.jpg"></div>
            </div>
        </div>
    </div>
    <div class="mall-row ui-sortable-handle" style="padding: 0px; position: relative;">
        <div class="mall-formsearch" data-role="search">
            <div class="mall-search">
                <div class="search-main">
                    <div><input type="search" class="inputsearch" placeholder="搜索宝贝"></div>
                    <div><a class="search-btn" href="javascript:;"><i class="ic ic-search"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../lib/jquery/jquery.min.js"></script>
<script src="../../lib/echo/echo.min.js"></script>
<script src="../../lib/swiper/js/swiper.jquery.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        effect: "slide",
        autoplay: 5000,
        loop: true,
        pagination: '.swiper-pagination'
    });

    Echo.init({
        offset: 0,
        throttle: 0
    });
</script>
</body>
</body>
</html>